<!-- Dynamically render date and time -->
<% content_for :title do %>
  Step Logger &ndash; <%= DateTime.now.to_s(:nice_date) %>
    <% end %>

      <div class="columns mt-6 is-centered">
        <% @entries.each do |entry| %>
          <div class="column is-one-quarter">
            <div class="card">
            <!-- Render header dynamically -->
              <header class="card-header">
                <p class="card-header-title"><%= entry.time_of_day %></p>
              </header>
              <div class="card-content">
                <div class="content">
                  <p><span class="has-text-weight-bold"><%= entry.steps %></span> Steps</p>
                  <p><span class="has-text-weight-bold"><%= entry.time %></span> Total Time</p>
                  <p><span class="has-text-weight-bold"><%= entry.miles %></span> Num of Miles</p>
                  <p><span class="has-text-weight-bold"><%= entry.calories %></span> Calories</p>
                  <!-- Dynamically render date and time given columns in ruby -->
                  <p class="italic">Logged <%= time_ago_in_words(entry.created_at) %> ago</p>
                </div>
              </div>
              <!-- Add HTML classes to ERB style template syntax -->
              <div class="card-footer">
              <%= link_to 'Show' , entry, class: "card-footer-item" %>
              <%= link_to 'Edit' , edit_entry_path(entry), class: "card-footer-item" %>
              <%= link_to 'Destroy' , entry, method: :delete, data: { confirm: 'Are you sure?' }, class: "card-footer-item" %>
              </div>
            </div>
          </div>
          <% end %>
      </div>